@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    color: white;
    font-weight: 600;
}

body{
    background: url('assets/background.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 80%;
    height: 89%;
    z-index: 1;
    position: fixed;
    right: 10%;
    left:10%;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(100%);
    border-radius: 12px;
    padding: 10px;
}

/* INFORMATION CONTAINER */
.info-container{
    position: relative;
    border: solid;
    border-color: white;
    margin: 30px;
    height: 400px;
    overflow-y: scroll;
    word-wrap: break-word; /* Ensures long words or strings wrap to the next line */
    word-break: break-word; /* Breaks long words if necessary */
    max-width: 100%; /* Ensures the paragraph doesn't exceed the container's width */
    overflow-wrap: break-word; /* Adds additional support for wrapping */
}
.information{
    width: 95%;
    margin: 30px;
}
.info-container::-webkit-scrollbar{
    height: 12px;
    width: 12px;
}
.info-container::-webkit-scrollbar-track{
    background: rgb(225, 225, 255, 0.1);
    border-radius: 99px;
}
.info-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.50);
    border-radius: 99px;
}
/* END OF INFORMATION CONTAINER */

/* WELCOME INFO */
.home-info{
    border-color: white;
}

/* END OF WELCOME INFO*/


/* SEARCH BAR */

.input-container{
    position: relative;
    margin-bottom: 25px;

}
.search-input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid white;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}
.search-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* END OF SEARCH BAR */